.marge {
    color:black;
}

.text-center.p-3.bg-warning{
    font-weight: 600!important;
}

a:not(#CatDelCatID,#CatDelDishID),a:visited,a:link,a:hover{
    color:#000000 !important;
}

.accordion {
    padding-top: 10px;
}

.card-header:hover{
    font-weight: 600;
    text-decoration:underline;
    text-decoration-color: orange;
}

.dishes_title{
    font-weight: bold;
    font-size:1.2em;
}

tr:hover{
    background-color: navajowhite;
}

tr {
    border-bottom:1px dashed orange;
}

#categories_dishes {
    min-width: 660px;
}

#categorie_and_dishes{
    width: 100%;
}

#categorie_and_dishes tr td:first-child{
    width: 160px;
    padding: 5px 5px 5px 10px;
}

#categorie_and_dishes tr td:nth-child(2){
    padding: 5px;
    text-align: left;
    vertical-align: top;
}


#categorie_and_dishes tr td:nth-child(3){
    padding: 5px;
    text-align: right;
    width: 70px;
    font-weight:600;
}

#categorie_and_dishes tr td:last-child{
    width: 42px;
    padding: 5px;
    text-align: center;
}

#categorie_and_dishes tr td:last-child img{
    margin: 5px;
}

#HrAccordion {
    margin-top: 0.5rem !important;
    margin-bottom: 0.3rem !important;
}

.category {
    padding-right: 10px;
}

.categoryTitle {
    color: orange !important;
    font-size: 1.2em;
}

.DisLabel{
    width: 50% !important;
    min-width: 200px !important;
}

.DisPrice{
    width: 70px !important;
    text-align: right !important;
}

#categorie_and_dishes tr:last-child{
    border-bottom: none;
}

.col-4{
    margin:auto;
}

.bg-illico {
    background-color: orange !important;
}

.btn-illico {
    background-color: orange !important;
    font-weight: 600 !important;
}

.btn-illico:hover {
    background-color: darkorange !important;
}

#addCat {
    height:60px;
    padding-bottom: 10px;
}

.container.mt-3.mb-5 {
    /*margin-bottom: 75px !important;*/
}


html,body,container{
    margin:0px;
    padding:0px;
}

header{
    min-height:6vh;
    background-color:orange;
}

main{
    min-height:88vh;
    background-color:#ffffff;
    /*padding-bottom: 20px;
    padding-top: 10px;*/
}

footer{
    min-height:6vh;
    background-color:orange;
    font-weight: 600;
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

.login{
    display:block;
    margin: auto !important;
}

#CatDelCatID {
    color:white !important;
}

img:not(.icon) {
    border-radius: 0.5em !important;
}

#modalContentP {
    background-color:transparent;
    border:none;
}

#modalContentPic {
    padding: 0;
    border: 2px solid darkorange;
    border-radius: 0.5em;
}

nav,footer{
    min-width: 750px;
}

#footer-text{
    min-width: 700px;
    margin: auto;
    text-align: center;
}

nav{
    width: 100%;
}

.no-margin{
    padding:0px !important;
    margin:0px !important;
}