
footer{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    height: 40px;
    font-weight: bold;
}

#content{
    padding-top: 20px;
    margin-bottom: 40px;
}
.container.mt-3.mb-5{
    margin-top: 8px !important ;
}

.h4 {
    margin-top: -10px !important;
    margin-bottom: 10px !important;
}

.card-header:hover{
    font-weight: 600;
    text-decoration:underline;
    text-decoration-color: orange;
}

.dishes_title{
    font-weight: bold;
    font-size:1.2em;
}

tr:hover{
    background-color: navajowhite;
}

tr {
    border-bottom:1px dashed orange;
}

#categorie_and_dishes{
    width: 100%;
}

#categorie_and_dishes tr td:first-child{
    width: 160px;
    padding: 5px;
}

#categorie_and_dishes tr td:nth-child(2){
    padding: 5px;
    text-align: left;
}


#categorie_and_dishes tr td:nth-child(3){
    padding: 5px;
    text-align: right;
    width: 200px;
    font-width: bold;
}

#categorie_and_dishes tr td:last-child{
    width: 84px;
    padding: 5px;
    text-align: center;
}

#categorie_and_dishes tr td:last-child img{
    margin: 5px;
}

.categoryTitle {
    color: orange !important;
    font-size: 1.2em;
}

.DisLabel{
    width: 50% !important;
    min-width: 200px !important;
}

.DisPrice{
    width: 100px !important;
    text-align: right !important;
}

#categorie_and_dishes tr:last-child{
    border-bottom: none;
}

.col-4{
    margin:auto;
}

.bg-illico {
    background-color: blue !important;
}

.btn-illico {
    background-color: orange !important;
}

.btn-illico:hover {
    background-color: darkorange !important;
}